CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vs
out
build
src/scrubgame.vcxproj.user
src/packages
src/x64
dearimgui/x64
imgui.ini
imguibuild
src/compileData.scor.t0000
src/compileData.scor
src/compileData.scor.incl
